/* DEFAULT COMMON CLASSES  --------------------------------------------- */

header img {
	margin: 5%;
}


.logo{
	transition: 2s;
}

.anim{
	opacity: 0;
}

.ui-container{
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.ui-absolute-container a{
	margin-left: 10px;
}

.ui-absolute-container{
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	margin: 20px;
}

.ui-absolute-button{
	position: relative;
	cursor: pointer;
	display: flex;
	width: 40px;
	height: 40px;
	padding: 15px;
	border-radius: 80px;
	background-color: white;
	align-items: center;
	transition-duration: 0.2s;
	box-shadow: 0px 0px 5px #eaeaea
}

.ui-absolute-button img{
	width: 100%;
}

.ui-notification{
	background-color: red;
	color: white;
	padding: 5px;
	width: 15px;
	height: 15px;
	text-align: center;
	font-size: 1.4rem;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 20px;
}

.ui-absolute-button:hover{
	background-color: #df063f;
}



.middle-nav-bar ul {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 20px;
}

.middle-nav-bar{
	transition: 4s;
}

.nav-bar-button {
	cursor: pointer;

	display: block;
	width: 15%;
	text-align: center;
	font-size: 3rem;
	color: black;
	padding: 20px;
	white-space: nowrap;
	border: 1px solid white;
	transition: 0.3s;
}

#nav-btn4{
	color: #df063f;
}

#nav-btn4:hover{
	color: white;
}


.nav-bar-button:hover{
	background-color: #df063f;
	color: white;
	border: 1px solid #df063f;
}

@media (max-width: 930px){
	html{
		font-size: 50%;
	}
}

@media (max-width: 730px){
	nav{
		display: none;
	}
}